<div class="container-fluid" id="bg">
  <div class="row d-flex align-items-center">
    <div class="col-md-5" id="img-bg" style="margin-right: 20px;"></div>
    <div class="col-md-6 mt-5 mb-5 fundoForm">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <h1 class="text-center">Estoque</h1>
          <div class="col-md-12" >
            <app-tabela [data]="dadosDosItens" [config]="listaDeProdutos" ></app-tabela>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

