<header class="sticky-top">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
  <div class="container"></div>
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand" style="margin-left: 10px;">
      <i class="fa fa-bars mr-2"
      (click)="menu.abreMenu()"
      ></i>
      <img style="margin-left: 10px;" src="../../assets/imagens/portao-japones.png" width="30" height="30" class="d-inline-block align-top" alt="logo iStorage">
      iStorage
    </a>
    <app-menu #menu>
      <div *ngIf="user$ | async as user">
      <div *ngIf="user.nome; else login">
        <ul class="nav flex-column">
          <li class="nav-item active">
            <a class="nav-link" routerLink='/home'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/cadastrar'>Cadastro de usuário</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/fornecedor'>Cadastro de Fornecedor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/produto'>Cadastro de Produto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/pedido'>Cadastro de Pedido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/recebidos'>Produtos recebidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/estoque'>Estoque</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/saida'>Saída de Estoque</a>
          </li>          
          <li>  
            <a class="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
          </li>
        </ul>
      </div>
      </div>
    </app-menu>

    <div *ngIf="user$ | async as user">
      <div *ngIf="user.nome; else login">
        <i class="fa fa-user-circle mr-1" style="margin-right: 2px;"> </i>
        <a class="mr-1" style="margin-right: 10px;">{{ user.nome }}</a>
        <a (click)="logout()" style="margin-right: 30px;cursor: pointer;">Logout</a>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <div class="container">
        <a [routerLink]="['']" >Login</a>
      </div>
    </span>
  </ng-template>

</header>