<div class="container-fluid" id="bg">

    <div class="row d-flex align-items-center">

        <div class="col-md-5" id="img-bg" style="margin-right: 20px;"></div>

        <div class="col-md-5 mt-5 mb-5 fundoForm">

            <div class="row d-flex justify-content-center">

                <div class="col-md-10">

                    <h1 class="text-center">Cadastro de Fornecedor</h1>

                    <form [formGroup]="formFornecedor">
                        <div class="form-group mt-3">
                            <label for="nome">Nome do fornecedor</label>
                            <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome" formControlName ="nomeFornecedor">
                        </div>
                        
                        <div class="form-group mt-3">
                            <label for="CNPJ">CNPJ</label>
                            <input mask='00.000.000/0000-00' class="form-control" type="text" name="CNPJ" id="CNPJ" placeholder="Digite seu CNPJ" formControlName = "cnpj">
                        </div>
    
                        <div class="form-group mt-3">
                            <label for="ie">Inscrição estadual</label>
                            <input mask='0*'  class="form-control" type="text" name="ie" id="ie" placeholder="Digite sua inscrição estadual" formControlName="inscricaoEsdadual">
                        </div>
    
                        <div class="form-group mt-3">
                            <label for="obs">Observações</label>
                            <textarea class="form-control" type="password" name="obs" id="obs" placeholder="Digite suas Observações" formControlName="observacao"></textarea>
                        </div>
       
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger space" routerLink='/home'>Cancelar</button>
                            <button type="submit" class="btn btn-success space" (click)='cadastrar()' >Cadastrar</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>


    </div>

</div>
